*{
    margin: 4px;
}
input:focus{
    outline: none;
}
.rounded{
    padding: 10px;
    border-radius: 8px;
  
}
.google{
    margin-left: 20px;
    padding: 10px;
    width: 420px;
    border-radius: 16px;
    border: none;
    box-shadow: 1px 1px 4px black;
}
.email{
    box-shadow: 4px 2px 6px black;
}
.e-box{
    padding: 5px;
    width: 360px;
}
.email-button{
    padding: 8px;
    width: 300px;
    border-radius: 16px;
    border: none;
    background-color: rgb(20, 86, 152);
    color: white;
}
.profile{
    width: 60px;
    vertical-align: middle;
}
.tweet-box{
    border: none;
    font-size: 16px;
}
.tweet-button{
    padding: 7px;
    width: 60px;
    border-radius: 16px;
    border: none;
    background-color: rgb(0, 140, 255);
    color: white;
}
.next-exercise{
    padding: 20px;
    border: none;
    text-decoration: none;
    color: white;
    background-color: rgb(140, 0, 255);
    border-radius: 16px;
    margin-top: 20vh;
    display: block;
    width: 110px;
    margin-left:30vh;
 }